## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
x=7
print(x)

7

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [6]:
mi_nombre='Luis Rios'

5) Crear una variable que contenga un número complejo

In [7]:
complejo =45j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
mi_Pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
verdad=True
falso=False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print("La variable verdad es de tipo ", type(verdad), " y la variable falso es de tipo ", type(falso))

La variable verdad es de tipo  <class 'bool'>  y la variable falso es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
mi_suma= 1+ 3.5

11) Realizar una operación de suma de números complejos

In [16]:
5j + 4j

9j

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
3+5j

(3+5j)

13) Realizar una operación de multiplicación

In [18]:
5*3

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [19]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
cosiente=27/4
print(cosiente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [21]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
mi_nombre + ' Pozo'

'Luis Rios Pozo'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
'2'==2

False

por que esta comparando un caracter con un entero son tipos diferentes

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
int('2')==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [33]:
a= float('3.8')

por que se esta usando coma en ves de punto

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [36]:
x=3
x-=1
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [37]:
1<<2

4

el resultado se da por que el operador << es binario corre un bit a laizquierda, el sistema de numeracion binaria se basa en 0 y 1

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [38]:
2+ '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

no esta permitida por que no se puede sumar un int con un str se tiene que convertir el str a int con la funcion int('2') y luego realizar la suma

In [39]:
2 + int('2')

4

26) Realizar una operación válida entre valores de tipo entero y string

In [41]:
'hola '*3

'hola hola hola '